* {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: rgba(190, 190, 190, 0.123);
}

.wrapper {
    margin: 40px auto;
    width: 540px;
    height: 169px;
    background: #111111e6;
    border-radius: 14px;
    display: flex;
}

.img {
    background-repeat: no-repeat;
    width: 170px;
    height: 169px;
    background-size: cover;
    border-radius: 13px 0px 0px 13px;
}

.spotify {
    background-image: url(../img/Vector.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 21px;
    height: 21px;
}

.name-music {
    color: #FFFFFF;
    font-weight: 700px;
    font-size: 18px;
}

.author {
    color: #696969;
    font-size: 13.5px;
    margin: 5px 0 20px 0;
}

.progress-line {
    background: #696969;
    border-radius: 5px;
    cursor: pointer;
    width: 257px;
    height: 3px;
}

.line {
    background: #DADADA;
    width: 257px;
    height: 3px;
    border-radius: 5px;
}


.duration {
    font-size: 10px;
    color: #696969;
    margin-left: 10px;
}

/* .repeat .active {
    animation: rotateAnimation 3s infinite linear;
    transform-origin: -80px -80px;
} */

.repeat {
    background-image: url(../img/repeat.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 17px;
    height: 17px;
    margin-top: 10px;
    cursor: pointer;
}

.right-not-last div:not(:last-child) {
    margin-right: 10px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.item-auto {
    margin: auto;
}

.top-btns {
    margin-top: 10px;
}

.circle-play {
    background-image: url(../img/playBtn.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 38px;
    height: 38px;
    cursor: pointer;
}


.circle-before {
    background-image: url(../img/beforeee.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 34px;
    height: 34px;
    cursor: pointer;
}


.circle-next {
    background-image: url(../img/nexxxtsvg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 34px;
    height: 34px;
    cursor: pointer;
}


.like {
    background-image: url(../img/heart.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 19px;
    height: 17px;
    margin-top: 10px;
    cursor: pointer;
}


@keyframes rotateAnimation {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-360deg);
    }
}