* {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

body {
    background-color: rgba(190, 190, 190, 0.123);
}

.wrapper {
    position: relative;
    margin: 40px auto;
    width: 540px;
    height: 169px;
    background: #111111;
    border-radius: 14px;
}

.img {
    background-image: url(../img/токсины.jpg);
    background-repeat: no-repeat;
    width: 170px;
    height: 169px;
    background-size: cover;
    border-radius: 13px 0px 0px 13px;
}

.spotify {
    position: absolute;
    right: 25px;
    top: 18px;
    background-image: url(../img/Vector.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 21px;
    height: 21px;

}

.name-music {
    position: absolute;
    left: 200px;
    top: 18px;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    font-weight: 700px;
    font-size: 18px;
    line-height: 22px;
}

.author {
    position: absolute;
    font-family: 'Inter', sans-serif;
    color: #696969;
    left: 200px;
    top: 44px;
    font-size: 13.5px;
    line-height: 17px;
}

.line {
    position: absolute;
    right: 81px;
    top: 86px;
    background-image: url(../img/line.svg);
    background: #DADADA;
    background-repeat: no-repeat;
    background-size: cover;
    width: 257px;
    height: 3px;
}

.time {
    position: absolute;
    right: 31px;
    top: 81px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    line-height: 15px;
    color: #696969;
}

.repeat {
    position: absolute;
    left: 205px;
    top: 117px;
    background-image: url(../img/repeat.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 17px;
    height: 17px;
}

.circle-play {
    position: absolute;
    right: 166px;
    top: 107px;
    background-image: url(../img/Ellipse\ 2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 38px;
    height: 38px;
}

.play {
    position: absolute;
    right: 12px;
    top: 12px;
    background-image: url(../img/play.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 12px;
    height: 14px;
}

.circle-before {
    position: absolute;
    right: 224px;
    top: 109px;
    background-image: url(../img/Ellipse\ 2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 34px;
    height: 34px;
}

.before {
    position: absolute;
    right: 10px;
    top: 12px;
    background-image: url(../img/before.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 17px;
    height: 10px;
}

.circle-next {
    position: absolute;
    right: 111px;
    top: 109px;
    background-image: url(../img/Ellipse\ 2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 34px;
    height: 34px;
}

.next {
    position: absolute;
    right: 8px;
    top: 12px;
    background-image: url(../img/next.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 17px;
    height: 10px;
}

.like {
    position: absolute;
    right: 34px;
    top: 118px;
    background-image: url(../img/heart.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 19px;
    height: 17px;
}